@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
    background-color: black;
}

::selection {
    background-color: #189e4a;
    color: white;
}

.loader {
    width: 20px;
    aspect-ratio: 1;
    animation: l13-0 2s linear infinite;
}

.loader::before,
.loader::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50%;
    background: radial-gradient(at 30% 30%, #0000, #000a) rgb(57, 255, 57);
    animation: l13-1 0.5s cubic-bezier(.5, -500, .5, 500) infinite;
}

.loader::after {
    animation-delay: -0.15s;
}

@keyframes l13-0 {
    100% {
        transform: rotate(360deg)
    }
}

@keyframes l13-1 {
    100% {
        transform: translate(0.5px)
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOutLeft {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(-100%);
    }
}

.fade-in-left {
    animation: fadeInLeft 0.5s ease-out forwards;
}

.fade-out-left {
    animation: fadeOutLeft 0.5s ease-out forwards;
}
